absl-py==1.0.0
aiofiles==0.7.0
aiogram==2.15
aiogram-media-group==0.2.0
aiohttp==3.8.1
aioredis==1.3.1
aiosignal==1.2.0
aiosqlite==0.17.0
amqp==5.0.6
anyio==3.3.4
appdirs==1.4.4
APScheduler==3.8.0
asgiref==3.4.1
astunparse==1.6.3
async-timeout==4.0.1
asyncpg==0.25.0
atlastk==0.12.11
attrs==21.2.0
Babel==2.9.1
beautifulsoup4==4.9.3
billiard==3.6.4.0
cachetools==5.0.0
celery==5.1.2
certifi==2021.5.30
chardet==3.0.4
charset-normalizer==2.0.9
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
decorator==5.1.0
distlib==0.3.1
Django==3.1.1
django-bootstrap4==3.0.1
django-cors-headers==3.7.0
django-debug-toolbar==3.2.1
django-google-maps==0.12.4
django-restframework==0.0.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
dnspython==2.1.0
et-xmlfile==1.1.0
fastapi==0.70.0
filelock==3.0.12
Flask==2.0.2
flatbuffers==2.0
frozenlist==1.2.0
gast==0.5.3
gevent==21.12.0
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.0
grpcio==1.44.0
gunicorn==20.1.0
h11==0.12.0
h5py==3.6.0
hiredis==2.0.0
httptools==0.3.0
idna==2.10
imageio==2.16.1
importlib-metadata==4.11.2
iso8601==0.1.16
itsdangerous==2.0.1
jdcal==1.4.1
Jinja2==3.0.3
joblib==1.1.0
jsonfield==3.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kombu==5.1.0
libclang==13.0.0
loguru==0.5.3
magic-filter==1.0.4
Markdown==3.3.6
MarkupSafe==2.0.1
multidict==5.1.0
networkx==2.7.1
numpy==1.22.3
oauthlib==3.2.0
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==21.3
phonenumbers==8.12.35
Pillow==9.0.1
pipenv==2021.5.29
prompt-toolkit==3.0.19
protobuf==3.19.4
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.2
PyJWT==2.1.0
pymongo==3.12.1
pyobjc==7.3
pyobjc-core==7.3
pyobjc-framework-Accessibility==7.3
pyobjc-framework-Accounts==7.3
pyobjc-framework-AddressBook==7.3
pyobjc-framework-AdServices==7.3
pyobjc-framework-AdSupport==7.3
pyobjc-framework-AppleScriptKit==7.3
pyobjc-framework-AppleScriptObjC==7.3
pyobjc-framework-ApplicationServices==7.3
pyobjc-framework-AppTrackingTransparency==7.3
pyobjc-framework-AuthenticationServices==7.3
pyobjc-framework-AutomaticAssessmentConfiguration==7.3
pyobjc-framework-Automator==7.3
pyobjc-framework-AVFoundation==7.3
pyobjc-framework-AVKit==7.3
pyobjc-framework-BusinessChat==7.3
pyobjc-framework-CalendarStore==7.3
pyobjc-framework-CallKit==7.3
pyobjc-framework-CFNetwork==7.3
pyobjc-framework-ClassKit==7.3
pyobjc-framework-CloudKit==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-Collaboration==7.3
pyobjc-framework-ColorSync==7.3
pyobjc-framework-Contacts==7.3
pyobjc-framework-ContactsUI==7.3
pyobjc-framework-CoreAudio==7.3
pyobjc-framework-CoreAudioKit==7.3
pyobjc-framework-CoreBluetooth==7.3
pyobjc-framework-CoreData==7.3
pyobjc-framework-CoreHaptics==7.3
pyobjc-framework-CoreLocation==7.3
pyobjc-framework-CoreMedia==7.3
pyobjc-framework-CoreMediaIO==7.3
pyobjc-framework-CoreMIDI==7.3
pyobjc-framework-CoreML==7.3
pyobjc-framework-CoreMotion==7.3
pyobjc-framework-CoreServices==7.3
pyobjc-framework-CoreSpotlight==7.3
pyobjc-framework-CoreText==7.3
pyobjc-framework-CoreWLAN==7.3
pyobjc-framework-CryptoTokenKit==7.3
pyobjc-framework-DeviceCheck==7.3
pyobjc-framework-DictionaryServices==7.3
pyobjc-framework-DiscRecording==7.3
pyobjc-framework-DiscRecordingUI==7.3
pyobjc-framework-DiskArbitration==7.3
pyobjc-framework-DVDPlayback==7.3
pyobjc-framework-EventKit==7.3
pyobjc-framework-ExceptionHandling==7.3
pyobjc-framework-ExecutionPolicy==7.3
pyobjc-framework-ExternalAccessory==7.3
pyobjc-framework-FileProvider==7.3
pyobjc-framework-FileProviderUI==7.3
pyobjc-framework-FinderSync==7.3
pyobjc-framework-FSEvents==7.3
pyobjc-framework-GameCenter==7.3
pyobjc-framework-GameController==7.3
pyobjc-framework-GameKit==7.3
pyobjc-framework-GameplayKit==7.3
pyobjc-framework-ImageCaptureCore==7.3
pyobjc-framework-IMServicePlugIn==7.3
pyobjc-framework-InputMethodKit==7.3
pyobjc-framework-InstallerPlugins==7.3
pyobjc-framework-InstantMessage==7.3
pyobjc-framework-Intents==7.3
pyobjc-framework-IOSurface==7.3
pyobjc-framework-iTunesLibrary==7.3
pyobjc-framework-KernelManagement==7.3
pyobjc-framework-LatentSemanticMapping==7.3
pyobjc-framework-LaunchServices==7.3
pyobjc-framework-libdispatch==7.3
pyobjc-framework-LinkPresentation==7.3
pyobjc-framework-LocalAuthentication==7.3
pyobjc-framework-MapKit==7.3
pyobjc-framework-MediaAccessibility==7.3
pyobjc-framework-MediaLibrary==7.3
pyobjc-framework-MediaPlayer==7.3
pyobjc-framework-MediaToolbox==7.3
pyobjc-framework-Metal==7.3
pyobjc-framework-MetalKit==7.3
pyobjc-framework-MetalPerformanceShaders==7.3
pyobjc-framework-MetalPerformanceShadersGraph==7.3
pyobjc-framework-MLCompute==7.3
pyobjc-framework-ModelIO==7.3
pyobjc-framework-MultipeerConnectivity==7.3
pyobjc-framework-NaturalLanguage==7.3
pyobjc-framework-NetFS==7.3
pyobjc-framework-Network==7.3
pyobjc-framework-NetworkExtension==7.3
pyobjc-framework-NotificationCenter==7.3
pyobjc-framework-OpenDirectory==7.3
pyobjc-framework-OSAKit==7.3
pyobjc-framework-OSLog==7.3
pyobjc-framework-PassKit==7.3
pyobjc-framework-PencilKit==7.3
pyobjc-framework-Photos==7.3
pyobjc-framework-PhotosUI==7.3
pyobjc-framework-PreferencePanes==7.3
pyobjc-framework-PushKit==7.3
pyobjc-framework-Quartz==7.3
pyobjc-framework-QuickLookThumbnailing==7.3
pyobjc-framework-ReplayKit==7.3
pyobjc-framework-SafariServices==7.3
pyobjc-framework-SceneKit==7.3
pyobjc-framework-ScreenSaver==7.3
pyobjc-framework-ScreenTime==7.3
pyobjc-framework-ScriptingBridge==7.3
pyobjc-framework-SearchKit==7.3
pyobjc-framework-Security==7.3
pyobjc-framework-SecurityFoundation==7.3
pyobjc-framework-SecurityInterface==7.3
pyobjc-framework-ServiceManagement==7.3
pyobjc-framework-Social==7.3
pyobjc-framework-SoundAnalysis==7.3
pyobjc-framework-Speech==7.3
pyobjc-framework-SpriteKit==7.3
pyobjc-framework-StoreKit==7.3
pyobjc-framework-SyncServices==7.3
pyobjc-framework-SystemConfiguration==7.3
pyobjc-framework-SystemExtensions==7.3
pyobjc-framework-UniformTypeIdentifiers==7.3
pyobjc-framework-UserNotifications==7.3
pyobjc-framework-UserNotificationsUI==7.3
pyobjc-framework-VideoSubscriberAccount==7.3
pyobjc-framework-VideoToolbox==7.3
pyobjc-framework-Virtualization==7.3
pyobjc-framework-Vision==7.3
pyobjc-framework-WebKit==7.3
pyparsing==3.0.7
pypika-tortoise==0.1.1
python-barcode==0.13.1
python-dotenv==0.17.1
python-environ==0.4.54
pyttsx3==2.90
pytz==2020.1
PyWavelets==1.3.0
requests==2.25.0
requests-oauthlib==1.3.1
rsa==4.8
sanic==21.9.3
sanic-routing==0.7.2
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
sentry-sdk==1.5.7
six==1.15.0
sniffio==1.2.0
soupsieve==2.2.1
SQLAlchemy==1.4.15
sqlparse==0.3.1
starlette==0.16.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tifffile==2022.2.9
tortoise==0.1.1
tortoise-orm==0.17.8
typing-extensions==3.10.0.0
tzlocal==2.1
ujson==4.3.0
urllib3==1.26.6
uvicorn==0.15.0
uvloop==0.16.0
validators==0.18.2
vine==5.0.0
virtualenv==20.4.4
virtualenv-clone==0.5.6
wcwidth==0.2.5
websockets==10.1
Werkzeug==2.0.2
whitenoise==6.0.0
wrapt==1.14.0
yarl==1.6.3
zipp==3.7.0
zope.event==4.5.0
zope.interface==5.4.0
